main{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  min-height: 550px;
  background-color: #F5F7FB;
  background-image: url('./assets/quizzical_app_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#intro-page{
  height:100%;
  padding:25px 75px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.game-description{
  text-align: center;
}

.button{
  width:193px;
  height:52px;
  background-color:#4D5B9E;
  color:#F5F7FB;
  font-family: "Inter", sans-serif;
  font-optical-sizing: 16px;
  font-weight: 500;
  font-style: normal;
  border:none;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover{
  background-color:#45528e;
}

#intro-page .button{
  margin-top:29px;
}

#game-page{
  padding:40px 75px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-page .button{
  width: 120px;
  height:35px;
  font-size:10px;
}

.question-container hr{
  border:none;
  height: 1px;
  background-color: #DBDEF0;
  /*border: 0.79px solid #DBDEF0;*/
}

.qeustion{
  font-size:16px;
  margin-top:10px;
  margin-bottom:12px;
}

.options-container{
  margin-bottom: 14px;
  display:flex;
  flex-wrap: wrap;
  margin-top:-10px;
}

.options-button{
  font-family: "Inter", sans-serif;
  color:#293264;
  font-size:10px;
  padding:5px 10px;
  background-color: transparent;
  border:1px solid #4D5B9E;
  border-radius: 8px;
  margin-top:10px;
  margin-right:13px;
  cursor: pointer;
}

.options-button:hover{
  border:1px solid #D6DBF5 ;
  background-color: #D6DBF5;
}