body{
  min-height: 100vh;
  padding:0;
  margin:0;
  background-color:#1C1C1C;  
  display:flex;
  justify-content: center;
  align-items: center;  
}

body h1{
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size:32px;
  font-style: normal;
  color:#293264;
}

body p{
  font-family: "Inter", sans-serif;
  font-optical-sizing: 16px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  color:#293264;
}